
.contacts__apps {
    display:flex;
    justify-content: center;
}

.app-item {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.info-item-icon {
    height: 32px;
    width: 26px;
 
}

.info-item-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--subcolor-for-text);
}

.info-item {
    display: flex;
    justify-content: start;
}

.contacts__info {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts__form {
    background-color: white;
    height: 670px;
    width: 380px;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 50px;
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 20px;
    /* display: flex;
}

.form-input {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;*/
}

.input {
        width: 280px;
    height: 54px;
    border-radius: 40px;
    background-color: #F5F5F5;
    border: 1px;
}