.footer {
    /*background-color: var( --main-color-for-page);*/
    background-color: beige;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.footer__section {
    margin-top: 50px;
}

.footer__contacts-item-icon {
    height: 32px;
    width: 26px;

}

.footer__contacts-item-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--subcolor-for-text);
}

.footer__contacts-item {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer__contacts-apps {
    display: flex;
    justify-content: center;
}

.footer__contacts-app-item {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}