*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-background-img: url(../img/header_backgroud.png);
  --main-color-for-text: #252B42;
  --button-color: #2091F9;
  --text-color: #FFFFFF;
}

/*.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}*/

body {
  background-color: lightcyan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*background-image: var(--ui-background-img);
  background-repeat: repeat;
  overflow-x: hidden;*/
}

h2, h6 {
  color: var(--main-color-for-text);
  display: flex;  /*can change and delete*/
  justify-content: center;
}
h2 {
  font-size: 48px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.button {
  width: 236px;
  height: 60px;
  border-radius: 35px;

  background-color: var(--button-color);
display: flex;
justify-content: center;
align-items: center;
  margin: auto;    
}

.button-text {
  color: var( --text-color);
}

/*.title-section {
  font-family: 'Shadows Into Light', cursive;
  font-size: 21px;
  text-align: center;
  color: var(--ui-brand-color);
}

p,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}*/