.partners__text {
    margin: 20px 0 60px;
}
.partners__container {
    display: grid;
    justify-items: center;
    height: 580px;
    overflow: hidden;
}

.container-item {
    /*height: 150px;
    width: 272px;*/
    margin-bottom: 30px;
}

.try-for-free-button {
    margin-top: 30px;
    margin-bottom: 50px;
}