.pricing {
    background-color: var( --main-color-for-page);
    color: var(--text-color);
    padding: 70px 0;
}
.pricing__text,
.pricing__title {
    color: --text-color;
}

.pricing__text {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin: 20px 0 50px;
}
.pricing__card {
    background-color: var(--text-color);
    color: var(--main-color-for-page);
    /* height: 607px; */
    width: 335px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px 0
}

.card-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--subcolor-for-text);
    display: flex;
    justify-content: center;

}
.card-price {
    display: flex;
    justify-content: center;
}

.current-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.price-current,
.price-date,
.price-number {
    margin-bottom: 0;
}

.price-number {
    font-weight: 700;
    font-size: 74px;
    margin-right: 10px;
}

.price-current {
font-weight: 700;
font-size: 20px;
}

.card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-button {
    margin: 30px 0;
}