
.testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
}
.testimonials__photo {
    height: 50px;
    width: 125px;
}

.testimonials__text {
    font-size: 13.53px;
    font-weight: 700;
    margin: 40px 0;
    color: var( --subcolor-for-text);
}

.testimonials__client {
    width: 128px;
    height: 42px;
}

.testimonials__more-button {
    margin-bottom: 80px;
    width: 276px;
}

.button-text {
    font-size: 20px;
    font-weight: 700;
}