<section class="contacts">
    <h2 class="contacts__title">Contact Us</h2>
    <p class="contacts__text">Most calendars are
        designed for teams. </p>
    <div class="contacts__apps">
        <a class="app-item" href="#">
            <img src="img/twitter.svg" alt="Twitter">
        </a>
        <a class="app-item" href="#">
            <img src="img/facebook.svg" alt="Facebook">
        </a>
        <a class="app-item" href="#">
            <img src="img/linkedIn.svg" alt="LinkedIn">
        </a>
    </div>
    <div class="contacts__info">
        <div class="info-item">
            <img class="info-item-icon" src="img/map-icon.png" alt="Map">
            <a class="info-item-text" href="#">6386 Spring St undefined Anchorage,
                Georgia 12473 United States</a>
        </div>
        <div class="info-item">
            <img class="info-item-icon" src="img/phone-icon.png" alt="Phone">
            <a class="info-item-text" href="tel:+8435550130">(843) 555-0130</a>
        </div>
        <div class="info-item">
            <img class="info-item-icon" src="img/mail-icon.png" alt="Email">
            <a class="info-item-text" href="mailto:willie.jennings@example.comm">willie.jennings@example.com</a>
        </div>
    </div>
    <div class="contacts__form">
        <form class="form" action="post">
            <h4 class="form-title">Contact Us</h4>
            <div class="form-inputs">
                <input class="input" type="text" id="name" name="name" placeholder="Your Name" required>
                <input class="input" type="email" id="email" name="email" placeholder="Your Email" required>
                <textarea class="inputt" cols="30" rows="10" placeholder="Your Message"></textarea>
                <div class="form-button">
                    <input class="button button-text" type="submit" value="Send">
                </div>
            </div>
    </div>
</section>