<section class="features">
    <h2 class="features__title">Features</h2>
    <p class="features__text">Most calendars are
        designed for teams. </p>
    <div class="features__video>
            <img src=" img/video_screen.png" alt="Video Screen">
    </div>
    <div class="features__conteiner">
        <div class="features__conteiner-item">
            <div class="features__conteiner-item-img">
                <img src="img/featureOne.png" alt="Feature">
            </div>
            <h6 class="features__conteiner-item-title">OpenType features
                Variable fonts</h6>
            <p class="features__conteiner-item-text">Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.</p>
        </div>
        <div class="features__conteiner-item">
            <div class="features__conteiner-item-img">
                <img src="img/featureTwo.png" alt="Feature">
            </div>
            <h6 class="features__conteiner-item-title">Design with real data</h6>
            <p class="features__conteiner-item-text">Slate helps you see how 
                many more days you need 
                to work to reach your 
                financial goal.</p>
        </div>
        <div class="features__conteiner-item">
            <div class="features__conteiner-item-img">
                <img src="img/featureThree.png" alt="Feature">
            </div>
            <h6 class="features__conteiner-item-title">Fastest way to 
                take action</h6>
            <p class="features__conteiner-item-text">Slate helps you see how
                many more days you need
                to work to reach your
                financial goal.</p>
        </div>
    </div>
</section>