<footer class="footer">
    <div class="footer__sections">
        <div class="footer__section">
            <h3 class="footer__section-title">Annette Steward</h3>
            <ul class="footer__section-items">
                <li class="footer__section-item">Jennie Cooper</li>
                <li class="footer__section-item">Julie Henry</li>
                <li class="footer__section-item">Johnny Murphy</li>
                <li class="footer__section-item">Gregory Mccoy</li>
                <li class="footer__section-item">Marvin Mckinney</li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__section-title">Annette Steward</h3>
            <ul class="footer__section-items">
                <li class="footer__section-item">Jennie Cooper</li>
                <li class="footer__section-item">Julie Henry</li>
                <li class="footer__section-item">Johnny Murphy</li>
                <li class="footer__section-item">Gregory Mccoy</li>
                <li class="footer__section-item">Marvin Mckinney</li>
            </ul>
        </div>
        <div class="footer__section">
            <h3 class="footer__section-title">Annette Steward</h3>
            <ul class="footer__section-items">
                <li class="footer__section-item">Jennie Cooper</li>
                <li class="footer__section-item">Julie Henry</li>
                <li class="footer__section-item">Johnny Murphy</li>
                <li class="footer__section-item">Gregory Mccoy</li>
                <li class="footer__section-item">Marvin Mckinney</li>
            </ul>
        </div>
    </div>
    <div class="footer__contacts">
        <div class="footer__contacts-item">
            <img class="footer__contacts-item-icon" src="img/map-icon.png" alt="Map">
            <a class="footer__contacts-item-text" href="#">7480 Mockingbird Hill undefined </a>
        </div>
        <div class="footer__contacts-item">
            <img class="footer__contacts-item-icon" src="img/phone-icon.png" alt="Phone">
            <a class="footer__contacts-item-text" href="tel:+2395550108">(239) 555-0108</a>
        </div>
    </div>
    <div class="footer__contacts-apps">
        <a class="footer__contacts-app-item" href="#">
            <img src="img/twitter.svg" alt="Twitter">
        </a>
        <a class="footer__contacts-app-item" href="#">
            <img src="img/facebook.svg" alt="Facebook">
        </a>
        <a class="footer__contacts-app-item" href="#">
            <img src="img/linkedIn.svg" alt="LinkedIn">
        </a>
    </div>
</footer>