<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary header-section">
        <div class="header__container">
            <a class="navbar-brand" href="index.html"><img class="header__logo" src="img/logo.png" alt="Logo"></a>
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
        </div>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-container">
                    <a class="nav-link item" href="#">Home</a>
                    <a class="nav-link item" href="#">Product</a>
                    <a class="nav-link item" href="#">Pricing</a>
                    <a class="nav-link item" href="#">About</a>
                    <a class="nav-link item" href="#">Contact</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse app-container" id="navbarNavAltMarkup">
            <div class="navbar-nav apps">
                <a class="nav-link app" href="#">
                    <img src="img/twitter.svg" alt="Twitter">
                </a>
                <a class="nav-link app" href="https://www.facebook.com/">
                    <img src="img/facebook.svg" alt="Facebook">
                </a>
                <a class="nav-link app" href="#">
                    <img src="img/linkedIn.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
        </div>
    </nav>
    <h1 class="header__title">The best
        products start
        with Figma</h1>
    <p class="header__subtitle">Most calendars are
        designed for teams. </p>
    <div class="try-for-free-button">
        <a href="#">Try For Free</a>
    </div>
</header>