<section class="newsletter">
    <h6 class="newsletter__subtitle">At your fingertips</h6>
    <h2 class="newsletter__title">Newsletter </h2>
    <p class="newsletter__text">Most calendars are designed for teams.
        Slate is designed for freelancers</p>
    <div class="newsletter__img-content">
        <img src="img/newsletter_content.png" alt="News Letter Content">
    </div>
    <div class="newsletter__form-conteiner">
        <form action="post">
            <h6 class="newsletter__subtitle">Subscribe to our Newsletter</h6>
            <p class="newsletter__form-conteiner-text">Available exclusivery on Figmaland</p>
        </form>
        <input class="newsletter__form-email" type="email" name="email" id="email" placeholder="Your Email">
        <div class="newsletter__form-buttom ">
            <button class="button button-text button-submit" type="submit">Subscribe</button>
        </div>
    </div>
</section>