<section class="partners">
    <h2 class="partners__title">Partners</h2>
    <p class="partners__text">Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div class="partners__container">
        <a class="container-item" href="#"><img src="img/google.png" alt="Google"></a>
        <a class="container-item" href="#"><img src="img/amazon.png" alt="Amazon"></a>
        <a class="container-item" href="#"><img src="img/microsoft.png" alt="Microsoft"></a>
        <a class="container-item" href="#"><img src="img/uber.png" alt="Uber"></a>
        <a class="container-item" href="#"><img src="img/dropbox.png" alt="Dropbox"></a>
        <a class="container-item" href="#"><img src="img/google.png" alt="Google"></a>
        <a class="container-item" href="#"><img src="img/uber.png" alt="Uber"></a>
        <a class="container-item" href="#"><img src="img/amazon.png" alt="Amazon"></a>
    </div>
    <div class="try-for-free-button">
        <a href="#">Try For Free</a>
    </div>  
</section>