<section class="pricing">
    <h2 class="pricing__title">Pricing</h2>
    <p class="pricing__text">Most calendars are <br>
        designed for teams. </p>
    <!-- in future I can impove it using react-->
   <div class="pricing__cards">
    <div class="pricing__card">
        <h4 class="card-title">Free</h4>
        <p class="card-subtitle">Organize across all <br> apps by hand</p>
        <div class="card-price">
            <p class="price-number">0</p>
            <div class="current-date">
                <p class="price-current">$</p>
                <p class="price-date">Per Month</p>
            </div>
            
        </div>
        <ul class="card-items">
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
        </ul>
        <div class="card-button button">
            <a class="button-text" href="#">Order Now</a>
        </div>
    </div>
    <div class="pricing__card">
        <h4 class="card-title">Standart</h4>
        <p class="card-subtitle">Organize across all <br> apps by hand</p>
        <div class="card-price">
            <p class="price-number">10</p>
            <div class="current-date">
                <p class="price-current">$</p>
                <p class="price-date">Per Month</p>
            </div>
        </div>
        <ul class="card-items">
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
        </ul>
        <div class="card-button button">
            <a class="button-text" href="#">Order Now</a>
        </div>
    </div>
    <div class="pricing__card">
        <h4 class="card-title">Business</h4>
        <p class="card-subtitle">Organize across all <br> apps by hand</p>
        <div class="card-price">
            <p class="price-number">99</p>
            <div class="current-date">
                <p class="price-current">$</p>
                <p class="price-date">Per Month</p>
            </div>
        </div>
        <ul class="card-items">
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
            <li class="card-item">Pricing Feature</li>
        </ul>
        <div class="card-button button">
            <a class="button-text" href="#">Order Now</a>
        </div>
    </div>
   </div>
</section>