<section class="testimonials">
    <h2 class="testimonials__title">Testimonials</h2>
    <div class="testimonials__photo>
        <img src="img/testimonials.png" alt="IBM">
    </div>
    <p class="testimonials__text">Most calendars are designed for teams.
        Slate is designed for freelancers who want a
        simple way to plan their schedule.</p>
    <div class="testimonials__client">
        <img src="img/testimonials_client.png" alt="UI designer">
    </div>
    <div class="testimonials__more-button button">
        <a class="button-text" href="#">More Testimonials</a>
    </div>
</section>